.explore {
  width: 100%;
  max-width: 600px;
  justify-content: center;
}
.header__searcher:hover {
  border-color: black;
}
.header__searcher input:focus {
  outline: none;
}

.explore__pic {
  border-radius: 50%;
  width: 58px;
  height: 55px;
  margin-right: 15px;
}
.explore__book {
  margin-top: 104px;
  justify-content: center;
  border: 1px solid #e6e6e6;
  width: 100%;
  max-width: 600px;
}
.explore__profile {
  display: flex;
  align-items: center;
}

.explore__follow__btn {
  color: blue;
  border-color: #3897f0;
  background: #3897f0;
  color: #fff;
  border-radius: 3px;
  width: 105px;
  height: 27px;
  line-height: 26px;
  font-weight: 600;
  cursor: pointer;
}
.explore__follow__btn:active {
  opacity: 0.1;
}
.explore__follow__btn:hover {
}
.explore__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
}
